version: '3'

services:
  consul:
    image: consul:latest
    restart: always
    volumes:
      - "./docs/consul.d:/consul/config"
    ports:
      - 8500:8500
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8500"]
        interval: 30s
        timeout: 10s
        retries: 5

  http-echo-de:
    image: hashicorp/http-echo:latest
    restart: always
    command: -text="hello from the DE endpoint"
    ports:
      - 5678:5678

  http-echo-at:
    image: hashicorp/http-echo:latest
    restart: always
    command: -text="hello from the AT endpoint"
    ports:
      - 5679:5678

  reverse-geocoder:
    image: adaptant/reverse-geocoding-service:latest
    restart: always
    command: --consul-agent "consul:8500"
    depends_on:
      - consul

  go-region-router:
    image: adaptant/go-region-router:latest
    restart: always
    command: --consul-agent "consul:8500"
    environment:
      REVERSE_GEOCODING_SERVICE: "reverse-geocoder:4041"
    depends_on:
      - consul
      - http-echo-de
      - http-echo-at
      - reverse-geocoder
    ports:
      - 7000:7000
